{% load static %}
<script type="text/javascript" src="{% static 'Admincontrol/js/myjs.js' %}"></script>



<div class="row">
	<div class="col-sm-1">
		
	</div>
	<div class="col-sm-5">
		<STRONG>COLOR FOR VALUES</STRONG>
		{% csrf_token %}
		{% for color in final_all_labels %}
			<input type="text" name="" value="{{color}}" class="cols" style="display: none;">
			<p><input type="text" name="" class="form-control pie-color" placeholder="Color For {{color}}"></p>
		{%endfor%}

		<br><br>
		<strong>LABELS FOR VALUES</strong>
		{% for color in final_all_labels %}
			<p><input type="text" name="" class="form-control pie-labels" value="{{color}}" placeholder="Label For {{color}}"></p>
		{%endfor%}

		

	</div>
	<div class="col-sm-5">
		<strong>EXPLODE FOR VALUES</strong>
		{% for color in final_all_labels %}
			<p><input type="text" name="" class="form-control pie-explode" value="0.00" placeholder="Explode For {{color}}"></p>
		{%endfor%}
		<br>
		<strong>SHADOW</strong>
		<p><input type="text" class="form-control shadow" name=""  placeholder="True/False"></p>
		<br>
		<strong>START ANGLE</strong>
		<p><input type="text" class="form-control startangle" name="" placeholder="0-360 deg"></p>
		<br>
		<strong>AUTO PERCENTAGE</strong>
		<input type="text" class="form-control autopct" name="" placeholder="%1.2f%%">
		<br>
		<a class="btn btn-primary" id="draw-pie-chart" >DRAW</a>
		<a href="" class="btn btn-warning">CLOSE</a>
		<br>
		<br>


	</div>
	<div class="col-sm-1"></div>
</div>

<center><STRONG>CHART WILL SHOW DOWN</STRONG></center>
<br>
<div class="row" id="here">

	<div class="col-sm-6">
		<div id="Preview_Container_view3"></div>
	</div>
	<div class="col-sm-6">
		<input type="text" name="" class="form-control" placeholder="Title" id="chart_title">
		<br>
		<textarea rows="8" cols="30" class="form-control" placeholder="Description..." id="chart_des"></textarea>
		<br>
		<a href="" class="btn btn-primary btn-sm" id="Save_to_Database">Submit</a>

	</div>
	
</div>
<br><br>
